.git
.vs
.idea
**/bin
**/obj
**/node_modules
**/.env
**/.env.*
**/appsettings.Local.json
**/appsettings.*.local.json
**/secrets.json
**/*.pfx
**/*.p12
**/*.pem
**/*.key
TestResults
artifacts
logs
docs
tests